 <!DOCTYPE html>
 <html lang="en">

 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>EJS Templpates</title>
 </head>

 <body>
     <div class="card">
         <h1>Your searched for: <%=data.userQuery %></h1>
         <div>
             <% if(data.loggedIn){ %>
             <h6>You are logged in as: <%= data.userName %></h6>
             <% } %>
             <h4>Your results:</h4>
             <ul>
                 <% data.searchResults.forEach((item, index)=> { %>
                 <li>result <%=index+1%>: <%= item %></li>
                 <% }); %>
             </ul>
         </div>
     </div>
     <script src="/public/js/example.js"></script>
 </body>

 </html>